@font-face {
	font-family: "yellowPeas";
	src: url('../fonts/yellowpeas.eot'); /* IE9 Compat Modes */
	src: url('../fonts/yellowpeas.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/yellowpeas.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/yellowpeas.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/yellowpeas.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/yellowpeas.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: "Aliquam";
	src: url('../fonts/Aliquam.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Aliquam.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Aliquam.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Aliquam.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Aliquam.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Aliquam.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	font-family: "Aliquam", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	color: white;
}

h1, h2, h3, h4, h5 {
	font-weight: lighter;
}

h1 {
	margin-top: 0;
	line-height: 30px;
	@media only screen and (min-width: 40.063em) {
		font-size: 5em;
		line-height: 75px;
	}
}
