body {
	background: white;
	color: #333;
}
.fluid-container {
	padding: 0 20px;
}
circle, path {
	stroke: #000;
}
.logo {
	width: 100px;
	margin: initial;
	padding: 20px 0;
}
video, img {
	width: 100%;
}
